
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-button {width:150px; }
</style>

</head>
<body>
<!-- Read https://attacomsian.com/blog/thymeleaf-fragments -->

<header th:fragment="/header">
    <ul class = "var">
        <li class = "varItem"><a href="/">Home</a></li>

        <div sec:authorize="isAnonymous()">
            <li class = "varItem"><a href="/login">Log In</a></li>
            <li class = "varItem"><a href="/signup">Sign Up</a></li>
            <li class = "varItem"><a href="/myprofile">User Profile</a></li>

        </div>
        <!-- <li class = "varItem"><a href="/hello">User profile</a></li> -->
        <li class = "varItem"><a href="/users">User Information</a></li>

        <div sec:authorize="isAuthenticated()">
            <!-- Text visible only to authenticated users. -->
            <li class="varItem" > <a th:text = "${username} + ' Profile'" href="/myprofile"></a> </li>
            <li class = "varItem"><a href="/post">Add post</a></li>
            <li class = "varItem">
                <form action="/perform_logout" method="post">
                    <button class="w3-button w3-red logoutLblPos"  type="submit">Log Out</button>
                </form>
            </li>
        </div>
    </ul>
</header>
</body>
</html>
