<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-button {width:150px; }
</style>
</head>
<body>
<ul class = "var">
    <li class = "varItem"><a href="/login">Log In</a></li>
    <li class = "varItem"><a href="/signup">Sign Up</a></li>
    <li class = "varItem"><a href="/">Home</a></li>
    <li class = "varItem"><a href="/hello">Hello</a></li>
    <div sec:authorize="isAuthenticated()">
        <!-- Text visible only to authenticated users. -->
        <li class = "varItem">
            <form action="/perform_logout" method="post">
                <button class="w3-button w3-red logoutLblPos"  type="submit">Log Out</button>
            </form>
        </li>
    </div>
</ul>
</br></br>

<h2 th:text = "'Welcome ' + ${username}"> </h2>
</br></br>

<h1>Please log in!</h1>
</br></br>
<div class="container">
    <form action="/perform_login" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter Username"  name="username">

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" name="password">

        <button type="submit">Log In</button>
    </form>
</div>


</body>
</html>