<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-button {width:150px; }
</style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
</br></br>

<ul th:each="user: ${usersList}">
    <div class="user">
        <li>
            <img th:src="${user.profilePic}">

            <div class="container">
                <label>User Name : </label><span th:text="${user.username}"></span></br>
                <label>First Name : </label><span th:text="${user.firstName}"></span></br>
                <label>Last Name : </label><span th:text="${user.lastName}"></span></br>
                <label>date Of Birth : </label><span th:text="${user.dateOfBirth}"></span></br>
                <label>Bio : </label> <span th:text="${user.bio}"></span>  </br>
                <p th:text="${flag}"></p>
                <!-- Check if the user followed or not -->
                <div>
                    <form  th:if="${user.flag == 'true'}" method="post" action="/users/follow">
                        <input type="hidden" th:value="${user.id}" name="user_id">
                        <button  type="submit">Follow</button>
                    </form>
                    <form  th:unless="!${user.flag == 'false'}" method="post" action="/users/unfollow">
                        <input type="hidden" th:value="${user.id}" name="user_id">
                        <button type="submit">UnFollow</button>
                    </form>
                </div>

                <form  method="post" action="/users/account">
                    <input type="hidden" th:value="${user.id}" name="user_id">
                    <button  type="submit">Show Account</button>
                </form>


            </div>
        </li>

    </div>
    <p>**********************************************************</p>
</ul>
</body>
</html>